.moving-text{
    font-size: 60px;
    font-family: Helvetica, serif;
    margin-top: 250px;

    animation: slideFade 3s ease-in-out infinite;
}

@keyframes slideFade{

    0%{
        opacity: 0.5;
        transform: translateY(20px);
    }

    50%{
        opacity: 1;
        transform: translateY(-10px);
    }

    100%{
        opacity: 0.5;
        transform: translateY(20px);
    }
}